<div class="container animated bounceInLeft pb-0">
  <div class="jumbotron text-center" style="background: transparent;">
    <div class="home">
    </div>
    <div id="typed-strings">
      <p>a hard working problem solver with strong team skills!</p>
      <p>experienced in management and eager to learn new things!</p>
      <p>a motivated professional and problem solver!</p>
    </div>
    <h1> </h1>
    <h1>I am <span id="typed"></span></h1>
    <hr class="my-4">
    <br>
    <br>
    <p class="lead">
      <a href="/portfolio"><button type="button" class="btn btn-dark btn-lg"><b>Portfolio</b></button></a>
    </p>
  </div>
</div>