<div class="container text-center animated bounceInUp">
    <h1>My Portfolio</h1>
    <br>
    <div class="jumbotron" id='about'>

        <p class='lead about-p'><span class='quote-left'><i class='fa fa-quote-left'></i></span>Whatever you do, do it
            well. -Walt Disney</p>
        <hr>
        <section class="section setion-dark">
            <div style="color: rgb(65, 63, 63); text-align:center; padding:50px 80px">
                <h2 style="text-align:center;"></h2>
                <br>
                <div id="main-container" class="container">
                    <section class="main-section">
                        {{!-- <h1 class="display-4"></h1> --}}
                        <br>
                        <div class="row">
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://melaniebott2691.github.io/TriviaGame/" target="_blank"><img
                                        src="public/img/trivia.png" width="100%" alt="Trivia Game">
                                    <h5>Trivia Game</h5>
                                </a>
                            </div>
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://melaniebott2691.github.io/Train_Activity_Basic/" target="_blank">
                                    <img src="public/img/firebase.png" width="100%" alt="Rock Paper Scissors">
                                    <h5>Firebase</h5>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://melaniebott2691.github.io/12-MySQL" target="_blank">
                                    <img src="public/img/mysql.jpg" width="100%" alt="MySQL">
                                    <h5>Node.js & MySQL</h5>
                                </a>
                            </div>
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://serene-waters-90779.herokuapp.com/" target="_blank">
                                    <img src="public/img/friendsfinder.jpg" target="_blank" width="100%"
                                        alt="Express Friends Finder">
                                    <h5>Friends Finder</h5>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://handlebarsburger.herokuapp.com/" target="_blank">
                                    <img src="public/img/handlebars.jpg" width="100%" alt="Node Express Handlebars">
                                    <h5>Handlebars</h5>
                                </a>
                            </div>
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://git.heroku.com/.git" target="_blank">
                                    <img src="public/img/foodtruck.jpg" width="100%" alt="Project 2">
                                    <h5>Project 2</h5>
                                </a>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </section>
        {{!-- //Resume --}}
        <hr class="my-4">
        <p class='lead'></p>
        <a class="btn btn-info btn-lg" href="public/img/MelanieBottResume.pdf" role="button">Resume</a>

        <br>

    </div>
</div>