<!-- image holder -->
    <div class="pimg1">
        <div class="ptext">
            <span class="border-logo">
                <img src='assets/images/portfolio.png' width="60%">
            </span>
        </div>
    </div>

    <!-- button section and links -->
    <section class="section section-light">
        <div class="btn-row" id="sections">
            <a href="index.html" class="btn btn-large" style="background-color: rgb(145, 88, 107)">About Me</a>
            <a href="portfolio.html" class="btn btn-large" style="background-color: rgb(145, 88, 107)">Portfolio</a>
            <a href="index.html" class="btn btn-large" style="background-color: rgb(145, 88, 107)">Contact</a>
            <a href="resume.html" class="btn btn-large" style="background-color: rgb(145, 88, 107)">Resume</a>
        </div>
    </section>

    <!-- image holder -->
    <div class="pimg2">
        <div class="ptext">
            <span class="border trans">
                Whatever you do, do it well. -Walt Disney
            </span>
        </div>
    </div>

    <!-- Section 1 About Me -->
    <section class="section section-dark">
        <div class="main" id="section1">
            <div style="color: rgb(65, 63, 63); background-color: rgb(228, 182, 190);text-align:center;padding:50px 80px; text-align: justify;">
                <h2 style="text-align:center;"></h2>
                <br>
                <div id="main-container" class="container">
                    <section class="main-section">

                        <div class="row">
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://melaniebott2691.github.io/Word-Guess-Game/" target="_blank">
                                    <img src="assets/images/words.png" width="100%" alt="Word Guess">
                                    <h5>Word Guess</h5>
                                </a>
                            </div>

                            <div class="column col-sm-4, col-md-8">
                                <a href="https://melaniebott2691.github.io/unit-4-game/" target="_blank"><img src="assets/images/rpg.png" width="100%" alt="JQuery ColorCollector">
                                    <h5>ColorCollector</h5>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://melaniebott2691.github.io/TriviaGame/" target="_blank"><img src="assets/images/trivia.png" width="100%" alt="Trivia Game">
                                    <h5>Trivia Game</h5>
                                </a>
                            </div>

                            <div class="column col-sm-4, col-md-8">
                                <a href="https://melaniebott2691.github.io/GifTastic/" target="_blank">
                                    <img src="assets/images/rutgers.png" width="100%" alt="Rutgers Info Widget">
                                    <h5>GifTastic</h5>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://melaniebott2691.github.io/Train_Activity_Basic/" target="_blank">
                                    <img src="assets/images/firebase.png" width="100%" alt="Rock Paper Scissors">
                                    <h5>Firebase</h5>
                                </a>
                            </div>

                            <div class="column col-sm-4, col-md-8">
                                <a href="https://melaniebott2691.github.io/rocinante/" target="_blank">
                                    <img src="assets/images/roulette.png" target="_blank" width="100%" alt="Recette Roulette">
                                    <h5>Project 1</h5>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://melaniebott2691.github.io/10-liri-node-app/" target="_blank">
                                    <img src="assets/images/liri.jpg" width="100%" alt="LIRI BOT">
                                    <h5>LIRI BOT</h5>
                                </a>
                            </div>

                            <div class="column col-sm-4, col-md-8">
                                <a href=" https://melaniebott2691.github.io/Constructor-Word-Guess/" target="_blank">
                                    <img src="assets/images/constructor.jpg" target="_blank" width="100%" alt="Constructor Word Guess">
                                    <h5>Constructors</h5>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://melaniebott2691.github.io/12-MySQL" target="_blank">
                                    <img src="assets/images/mysql.jpg" width="100%" alt="MySQL">
                                    <h5>Node.js & MySQL</h5>
                                </a>
                            </div>
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://serene-waters-90779.herokuapp.com/" target="_blank">
                                    <img src="assets/images/friendsfinder.jpg" target="_blank" width="100%" alt="Express Friends Finder">
                                    <h5>Friends Finder</h5>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://handlebarsburger.herokuapp.com/" target="_blank">
                                    <img src="assets/images/handlebars.jpg" width="100%" alt="Node Express Handlebars">
                                    <h5>Handlebars</h5>
                                </a>
                            </div>
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://sequelizedburg.herokuapp.com/" target="_blank">
                                    <img src="assets/images/burger.jpg" target="_blank" width="100%" alt="Burger 2: The Sequel(Optional)">
                                    <h5>Burger 2 Sequelized</h5>
                                </a>
                            </div>
                        </div>

                        <!-- Project 2 and ? -->
                        <div class="row">
                            <div class="column col-sm-4, col-md-8">
                                <a href="https://git.heroku.com/.git" target="_blank">
                                    <img src="assets/images/foodtruck.jpg" width="100%" alt="Project 2">
                                    <h5>Project 2</h5>
                                </a>
                            </div>
                            <div class="column col-sm-4, col-md-8">
                                <a href=" https://melaniebott2691.github.io/" target="_blank">
                                    <img src="assets/images/pineapple.jpg" target="_blank" width="100%" alt="In Progress">
                                    <h5>In Progress</h5>
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <!-- image holder -->
    <div class="pimg3">
        <div class="ptext">
            <span class="border trans">
            Always code as if the guy who ends up maintaining your code will be a violent psychopath who know where you live. -unknown
            </span>
        </div>
    </div>

    <!-- Section 3 Contact -->
    <section class="section section-dark">
        <div class="main" id="section3">

            <!-- icons to return to home page -->
            <div class="row" id="page-icons">
                <div class="column">
                    <a href="index.html" target="_blank">
                        <h2 class="center" style="color: white"><i class="fas fa-home"></i></h2>
                    </a>
                </div>
                <div class="column">
                    <a href="contact.html" target="_blank">
                        <h2 class="center" style="color: white"><i class="fas fa-envelope-open-text"></i></h2>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- image holder -->
    <div class="pimg1 ">
        <div class="ptext ">
            <span class="border ">
            Melanie C. Bott
        </span>
        </div>
    </div>
</body>

<!-- Footer Section -->
<footer class="page-footer">
    <div class="container">
        © 2020 MCB
        <div id="social-media-icons" class="grey-text text-lighten-4 right">
            <a href="https://www.linkedin.com/in/melanie-callor-bott-77ab7661/" target="_blank" class="fab fa-linkedin-in"></a>
            <a href="https://www.facebook.com/mcbott" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a>
            <a href="https://twitter.com/home" target="_blank" class="fab fa-twitter"></a>
        </div>
    </div>
</footer>

<!-- Scripts Section -->
<script type="text/javascript" src="assets/javascript/portfolio.js"></script>
<script type="text/materialize" src="assets/javascript/materialize.js"></script>
<script type="text/materialize" src="assets/javascript/materialize.min.js"></script>

</html>